<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="voltran.ico">
    <title>Voltran</title>
</head>
<body>

    {% include 'base/navbar.html' %}

    {% block content %}
    <!-- Your content goes here -->
    {% endblock %}

    {%include 'base/footer.html' %}

    <style>
        body{
            background-color: #86BBBD;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-decoration: none;
            user-select: none;
        }
        a{
            color: white;
            user-select: none;
            text-decoration: none;
        }
        hr{
            color: white;
        }
    </style>
 
</body>
</html>